.productDetails-image {
    background-color: #fff;
    border: 1px solid gray;
    padding: 40px 0;
    img {
        max-width: 100%;
        max-height: 450px;
        margin: 0 auto;
        display: block;
    }
}

.productsRelation {
    h4 {
        border-bottom: 1px solid gray;
        padding-bottom: 20px;
    }
}