.accordion {
    &-item {
        border-left: 0;
        border-right: 0;
        &:first-of-type,
        &:last-of-type {
            border-radius: 0;
        }
    }
    &-button {
        font-weight: bold;
        &:not(.collapsed) {
            color: black;
            font-weight: bold;
            background-color: transparent;
            box-shadow: none;
            &::after {
                filter: brightness(0);
            }
        }
        &:focus {
            box-shadow: none;
        }
        &:hover {
            background-color: rgba(black, 0.03);
        }
    }
    &-body {
        box-shadow: inset 0 1px 0 rgba(0,0,0,.125);
    }
}