footer {
    background-color: #1c1c1c;
    color: white;
    padding: 2rem 0;
    hr {
        width: 80%;
        margin: 4rem auto;
    }
    .copyright {
        margin-top: 1rem;
        font-size: 12px;
        text-align: center;
        font-weight: 100;
    }

    .footer--menu ul{
        flex-direction: column;
        justify-content: end;
        .nav-link {
            color: white;
            padding: 0;
        }
    }
}